<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holley.emcpshare.dao.IcmPurchaseHisMapper" >
  <resultMap id="BaseResultMap" type="com.holley.emcpshare.model.IcmPurchaseHis" >
    <id column="DATA_TIME" property="dataTime" jdbcType="TIMESTAMP" />
    <id column="POINT_ID" property="pointId" jdbcType="INTEGER" />
    <result column="BUY_COUNT" property="buyCount" jdbcType="INTEGER" />
    <result column="SURPLUS_MONEY" property="surplusMoney" jdbcType="DECIMAL" />
    <result column="TOTAL_BUY_MONEY" property="totalBuyMoney" jdbcType="DECIMAL" />
    <result column="SURPLUS_ENERGY" property="surplusEnergy" jdbcType="DECIMAL" />
    <result column="OVERDRAW_ENERGY" property="overdrawEnergy" jdbcType="DECIMAL" />
    <result column="TOTAL_BUY_ENERGY" property="totalBuyEnergy" jdbcType="DECIMAL" />
    <result column="CREDIT_ENERGY_LIMIT" property="creditEnergyLimit" jdbcType="DECIMAL" />
    <result column="ALARM_ENERGY" property="alarmEnergy" jdbcType="DECIMAL" />
    <result column="FAULT_ENERGY" property="faultEnergy" jdbcType="DECIMAL" />
    <result column="RATE" property="rate" jdbcType="DECIMAL" />
    <result column="DATA_SOURCE" property="dataSource" jdbcType="SMALLINT" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DATA_TIME, POINT_ID, BUY_COUNT, SURPLUS_MONEY, TOTAL_BUY_MONEY, SURPLUS_ENERGY, OVERDRAW_ENERGY, 
    TOTAL_BUY_ENERGY, CREDIT_ENERGY_LIMIT, ALARM_ENERGY, FAULT_ENERGY, RATE, DATA_SOURCE, 
    ADD_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holley.emcpshare.model.IcmPurchaseHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from icm_purchase_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.holley.emcpshare.model.IcmPurchaseHisKey" >
    select 
    <include refid="Base_Column_List" />
    from icm_purchase_his
    where DATA_TIME = #{dataTime,jdbcType=TIMESTAMP}
      and POINT_ID = #{pointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.holley.emcpshare.model.IcmPurchaseHisKey" >
    delete from icm_purchase_his
    where DATA_TIME = #{dataTime,jdbcType=TIMESTAMP}
      and POINT_ID = #{pointId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.holley.emcpshare.model.IcmPurchaseHisExample" >
    delete from icm_purchase_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holley.emcpshare.model.IcmPurchaseHis" >
    insert into icm_purchase_his (DATA_TIME, POINT_ID, BUY_COUNT, 
      SURPLUS_MONEY, TOTAL_BUY_MONEY, SURPLUS_ENERGY, 
      OVERDRAW_ENERGY, TOTAL_BUY_ENERGY, CREDIT_ENERGY_LIMIT, 
      ALARM_ENERGY, FAULT_ENERGY, RATE, 
      DATA_SOURCE, ADD_TIME, UPDATE_TIME
      )
    values (#{dataTime,jdbcType=TIMESTAMP}, #{pointId,jdbcType=INTEGER}, #{buyCount,jdbcType=INTEGER}, 
      #{surplusMoney,jdbcType=DECIMAL}, #{totalBuyMoney,jdbcType=DECIMAL}, #{surplusEnergy,jdbcType=DECIMAL}, 
      #{overdrawEnergy,jdbcType=DECIMAL}, #{totalBuyEnergy,jdbcType=DECIMAL}, #{creditEnergyLimit,jdbcType=DECIMAL}, 
      #{alarmEnergy,jdbcType=DECIMAL}, #{faultEnergy,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, 
      #{dataSource,jdbcType=SMALLINT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.holley.emcpshare.model.IcmPurchaseHis" >
    insert into icm_purchase_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataTime != null" >
        DATA_TIME,
      </if>
      <if test="pointId != null" >
        POINT_ID,
      </if>
      <if test="buyCount != null" >
        BUY_COUNT,
      </if>
      <if test="surplusMoney != null" >
        SURPLUS_MONEY,
      </if>
      <if test="totalBuyMoney != null" >
        TOTAL_BUY_MONEY,
      </if>
      <if test="surplusEnergy != null" >
        SURPLUS_ENERGY,
      </if>
      <if test="overdrawEnergy != null" >
        OVERDRAW_ENERGY,
      </if>
      <if test="totalBuyEnergy != null" >
        TOTAL_BUY_ENERGY,
      </if>
      <if test="creditEnergyLimit != null" >
        CREDIT_ENERGY_LIMIT,
      </if>
      <if test="alarmEnergy != null" >
        ALARM_ENERGY,
      </if>
      <if test="faultEnergy != null" >
        FAULT_ENERGY,
      </if>
      <if test="rate != null" >
        RATE,
      </if>
      <if test="dataSource != null" >
        DATA_SOURCE,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataTime != null" >
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="surplusMoney != null" >
        #{surplusMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalBuyMoney != null" >
        #{totalBuyMoney,jdbcType=DECIMAL},
      </if>
      <if test="surplusEnergy != null" >
        #{surplusEnergy,jdbcType=DECIMAL},
      </if>
      <if test="overdrawEnergy != null" >
        #{overdrawEnergy,jdbcType=DECIMAL},
      </if>
      <if test="totalBuyEnergy != null" >
        #{totalBuyEnergy,jdbcType=DECIMAL},
      </if>
      <if test="creditEnergyLimit != null" >
        #{creditEnergyLimit,jdbcType=DECIMAL},
      </if>
      <if test="alarmEnergy != null" >
        #{alarmEnergy,jdbcType=DECIMAL},
      </if>
      <if test="faultEnergy != null" >
        #{faultEnergy,jdbcType=DECIMAL},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="dataSource != null" >
        #{dataSource,jdbcType=SMALLINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holley.emcpshare.model.IcmPurchaseHisExample" resultType="java.lang.Integer" >
    select count(*) from icm_purchase_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update icm_purchase_his
    <set >
      <if test="record.dataTime != null" >
        DATA_TIME = #{record.dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pointId != null" >
        POINT_ID = #{record.pointId,jdbcType=INTEGER},
      </if>
      <if test="record.buyCount != null" >
        BUY_COUNT = #{record.buyCount,jdbcType=INTEGER},
      </if>
      <if test="record.surplusMoney != null" >
        SURPLUS_MONEY = #{record.surplusMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBuyMoney != null" >
        TOTAL_BUY_MONEY = #{record.totalBuyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.surplusEnergy != null" >
        SURPLUS_ENERGY = #{record.surplusEnergy,jdbcType=DECIMAL},
      </if>
      <if test="record.overdrawEnergy != null" >
        OVERDRAW_ENERGY = #{record.overdrawEnergy,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBuyEnergy != null" >
        TOTAL_BUY_ENERGY = #{record.totalBuyEnergy,jdbcType=DECIMAL},
      </if>
      <if test="record.creditEnergyLimit != null" >
        CREDIT_ENERGY_LIMIT = #{record.creditEnergyLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.alarmEnergy != null" >
        ALARM_ENERGY = #{record.alarmEnergy,jdbcType=DECIMAL},
      </if>
      <if test="record.faultEnergy != null" >
        FAULT_ENERGY = #{record.faultEnergy,jdbcType=DECIMAL},
      </if>
      <if test="record.rate != null" >
        RATE = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.dataSource != null" >
        DATA_SOURCE = #{record.dataSource,jdbcType=SMALLINT},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update icm_purchase_his
    set DATA_TIME = #{record.dataTime,jdbcType=TIMESTAMP},
      POINT_ID = #{record.pointId,jdbcType=INTEGER},
      BUY_COUNT = #{record.buyCount,jdbcType=INTEGER},
      SURPLUS_MONEY = #{record.surplusMoney,jdbcType=DECIMAL},
      TOTAL_BUY_MONEY = #{record.totalBuyMoney,jdbcType=DECIMAL},
      SURPLUS_ENERGY = #{record.surplusEnergy,jdbcType=DECIMAL},
      OVERDRAW_ENERGY = #{record.overdrawEnergy,jdbcType=DECIMAL},
      TOTAL_BUY_ENERGY = #{record.totalBuyEnergy,jdbcType=DECIMAL},
      CREDIT_ENERGY_LIMIT = #{record.creditEnergyLimit,jdbcType=DECIMAL},
      ALARM_ENERGY = #{record.alarmEnergy,jdbcType=DECIMAL},
      FAULT_ENERGY = #{record.faultEnergy,jdbcType=DECIMAL},
      RATE = #{record.rate,jdbcType=DECIMAL},
      DATA_SOURCE = #{record.dataSource,jdbcType=SMALLINT},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holley.emcpshare.model.IcmPurchaseHis" >
    update icm_purchase_his
    <set >
      <if test="buyCount != null" >
        BUY_COUNT = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="surplusMoney != null" >
        SURPLUS_MONEY = #{surplusMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalBuyMoney != null" >
        TOTAL_BUY_MONEY = #{totalBuyMoney,jdbcType=DECIMAL},
      </if>
      <if test="surplusEnergy != null" >
        SURPLUS_ENERGY = #{surplusEnergy,jdbcType=DECIMAL},
      </if>
      <if test="overdrawEnergy != null" >
        OVERDRAW_ENERGY = #{overdrawEnergy,jdbcType=DECIMAL},
      </if>
      <if test="totalBuyEnergy != null" >
        TOTAL_BUY_ENERGY = #{totalBuyEnergy,jdbcType=DECIMAL},
      </if>
      <if test="creditEnergyLimit != null" >
        CREDIT_ENERGY_LIMIT = #{creditEnergyLimit,jdbcType=DECIMAL},
      </if>
      <if test="alarmEnergy != null" >
        ALARM_ENERGY = #{alarmEnergy,jdbcType=DECIMAL},
      </if>
      <if test="faultEnergy != null" >
        FAULT_ENERGY = #{faultEnergy,jdbcType=DECIMAL},
      </if>
      <if test="rate != null" >
        RATE = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="dataSource != null" >
        DATA_SOURCE = #{dataSource,jdbcType=SMALLINT},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DATA_TIME = #{dataTime,jdbcType=TIMESTAMP}
      and POINT_ID = #{pointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holley.emcpshare.model.IcmPurchaseHis" >
    update icm_purchase_his
    set BUY_COUNT = #{buyCount,jdbcType=INTEGER},
      SURPLUS_MONEY = #{surplusMoney,jdbcType=DECIMAL},
      TOTAL_BUY_MONEY = #{totalBuyMoney,jdbcType=DECIMAL},
      SURPLUS_ENERGY = #{surplusEnergy,jdbcType=DECIMAL},
      OVERDRAW_ENERGY = #{overdrawEnergy,jdbcType=DECIMAL},
      TOTAL_BUY_ENERGY = #{totalBuyEnergy,jdbcType=DECIMAL},
      CREDIT_ENERGY_LIMIT = #{creditEnergyLimit,jdbcType=DECIMAL},
      ALARM_ENERGY = #{alarmEnergy,jdbcType=DECIMAL},
      FAULT_ENERGY = #{faultEnergy,jdbcType=DECIMAL},
      RATE = #{rate,jdbcType=DECIMAL},
      DATA_SOURCE = #{dataSource,jdbcType=SMALLINT},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where DATA_TIME = #{dataTime,jdbcType=TIMESTAMP}
      and POINT_ID = #{pointId,jdbcType=INTEGER}
  </update>
</mapper>